.filter {
  height: 3.5rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding-left: 30px;
}

.filter-bar {
  width: 23%;
  margin-right: 10%;
}

@media screen and (max-width: 800px) {
  .filter-bar {
    width: 40%;
    margin-top: 20px;
    margin-left: 10%;
  }
}

@media screen and (max-width: 450px) {
  .filter-bar {
    width: 50%;
  }
}

.dark-filter {
  background-color: #2B3845;
  border: #2B3845;
  color: white;
}

.dark-filter:focus {
    border-color: rgba(247, 250, 247, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 4px rgb(255, 255, 255);
  outline: 0 none;
}

.light-filter {
  background-color: white;
}
